CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN=
REFRESH_TOKEN=
AUTHORIZATION_CODE=
REDIRECT_URI=http://localhost

# Add more channels separated by comma
CHANNEL_NAMES=channel1,channel2
CHECK_INTERVAL=300
THUMB_INTERVAL=900

FFPROBE_PATH=
